<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.url">jdbc:mysql://172.19.187.239:3306/multas</property>  
        <property name="connection.username">iso2</property>  
        <property name="connection.password">iso2</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  

    	<mapping class="dominio.Inquiry"/> 
    	<mapping class="dominio.Owner"/>
    	<mapping class="dominio.Vehicle"/>  
    	<mapping class="dominio.Sanction"/> 
    	<mapping class="dominio.Driver"/>  
    	<mapping class="dominio.SanctionHolder"/>  
    </session-factory>  
  
</hibernate-configuration>  